spring:
  liquibase:
    enabled: false
  datasource:
#    url: jdbc:postgresql://localhost:5433/rs_db
    url: jdbc:postgresql://localhost:5432/bank_rest
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: "X8bVw1SQ6F5w0isIMPtrdwiF+E89wh5hEQC8/WkNDVk="
  expiration: 36000000

server:
  port: 8080
#
# application.yml — главный конфигурационный файл Spring Boot.

#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.
